@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75em;
  /*   display: flex; */
  /*   place-items: center; */
  /*   min-width: 320px; */
  /*   min-height: 100vh; */
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #118ab2;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}
