.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

h2 {
    font-weight: 300;
}

.header {
    margin-top: 150px;
    margin-bottom: 30px;
}

.form-container {
    max-width: 650px;
}

form {
    display: grid;
    grid-template-columns: 500px auto;
}

.entry-container {
}

.input-lng {
    grid-column-start: 1;

    width: 500px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: none;
    height: 35px;
    padding: 0;
}

.input-lng:focus {
    outline: none;
}

.btn {
    grid-column-start: 2;

    width: 100px;
    height: 37px;
    padding: 0;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid black;
}

.radio-container {
    grid-column-start: 1;
    grid-row-start: 2;

    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.radio-grp input {
    vertical-align: sub;
    margin-right: 5px;
}

.url {
    margin-top: 30px;
}

.url-link {
    color: #0B6583
}
